.general{
    font-family: 'Manjari', sans-serif;
    display: flex;
    min-height: 110vh;
    margin: 1rem;
    background-color: #ffffffe0;
    background-size: 75px 75px;
    background-repeat:space;
    background-image: linear-gradient(#ffffffe0,#ffffffe0), url('../../Images/sneakers_vector.webp');
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 850px;
    width: 500px;
    background-color: rgba(1, 1, 1, 0.427);
    border-radius: 5px;
    margin: 0 auto;
}
.label {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 3px;
    color: aliceblue;
}
  
.input, .select {
    padding: 3px;
    display: inline-block;
    width: 400px;
    background-color: rgb(252, 246, 246);
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;
    color: black;
}
.select {
    width: 408px;
    border-radius: 5px;
    background-color: rgb(252, 246, 246);
    color: gray;
    cursor: pointer;
}
  
.containerInput {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 1px;
}

.header{
    margin-top: 1rem;
    padding: 1rem;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;  
}

.spanError {
  background-color: red;
  color: black;
  margin: 0 2 px;
  text-transform: uppercase;
  font-size: 12px;
}

.newSneaker{
    font-family: 'Karla', sans-serif;
    grid-column: 1/-1;
    padding: 1rem;
    margin: 1rem;
}

.btnSubmit{
    margin: 0.5rem;
    border: none;
    background-color: #fcf81b99;
    padding: 9px 17px;
    color: #000000;
    cursor: pointer;
}
.btnSubmit:disabled{
    background-color: #565456;
    width: fit-content;
}

.btnSubmit:hover:not(:disabled){
    width: 100%;
}
.back {
    border: none;
    background-color: #00000099;
    border-radius: 25px;
    padding: 5px 10px;
    color: #ffffff;
    cursor: pointer;
    position: sticky;
}

.back:hover {
    color: #000000;
    text-shadow: 5px 5px 5px #000000;
    background-color: #ffffff99;
}

.cancel{
    flex-direction: row;
    font-family: 'Manjari', sans-serif;
    background-color: #f7f6f6;
    color: #000000;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
.cancel:hover{
    width: 20%;
    background-color: rgb(148, 5, 5);
    color: rgb(250, 245, 245);
    cursor: pointer;
}

.containerSelected ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    max-width: auto;
}

.option {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5px;
}
  
  
.li {
    float: center;
    font-size: 13px;
}

.button {
    border: none;
    width: 16px;
    height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #c43b3b;
    font-size: 8px;
    cursor: pointer;
}

.product{
    width: 100%;
    max-height: 200px;
    
}