a {
    text-decoration: none;
}

h4 {
    color:#999998
}

.container {
    border: 0.1rem solid white;
    width: 18rem;
}

.container:hover {
    border: 0.1rem solid #242423;
}

.container2 {
    filter: grayscale(100%);
    border: 0.1rem solid rgb(231, 231, 231);
    width: 18rem;
    
}

.container2:hover {
    border: 0.1rem solid #242423;
}

.container:hover .price {
    margin-top: -2.3rem;
}

.price {
    background-color: #e6e6e6;
    margin-top: -2rem;
    padding: 0.3rem 0.5rem;
    position: absolute;
    margin-left: 0.7rem;
    font-size: 0.9rem;
    color: #242423;
}

.img {
    width: 100%;
}

.title {
    text-decoration: none;
    font-size: 1rem;
    margin-top: 0.2rem;
    text-align: left;
    margin-left: 0.7rem;
    color: #242423;
}

.type {
    font-size: 1rem;
    margin-top: -0.9rem;
    text-align: left;
    margin-left: 0.7rem;
    color: gray;
}

.icon {
    font-size: 1.4rem;
    color: #242423;
    position: absolute;
    margin-top: 0.9rem;
    margin-left: 15.6rem;
    cursor: pointer;
}


.icon:hover {
    color: rgb(240, 3, 3);
    font-size: 1.4rem;
    margin-top: 0.7rem;
    margin-left: 15.6rem;
}

.iconCart {
    font-size: 2rem;
    color: #242423;
    position: absolute;
    margin-top: 0.9rem;
    margin-left: 13rem;
    cursor: pointer;
}

.iconCart:hover {
    color: #999998;
    font-size: 2rem;
    margin-top: 0.7rem;
    margin-left: 13rem;
}