.container {
    border: 0.1rem solid white;
    width: 18rem;
    margin-left: 0.8rem;
}

.container:hover {
    border: 0.1rem solid #242423;
}

.container:hover .price {
    margin-top: -2rem;
}

.price {
    background-color: #e6e6e6;
    margin-top: -1.7rem;
    padding: 0.3rem 0.5rem;
    position: absolute;
    margin-left: 0.7rem;
    font-size: 0.9rem;
    color: #242423;
}

.img {
    width: 100%;
}

.title {
    font-size: 1rem;
    margin-top: 0.2rem;
    text-align: left;
    margin-left: 0.7rem;
    color: #242423;
}

.type {
    font-size: 1rem;
    margin-top: -0.9rem;
    text-align: left;
    margin-left: 0.7rem;
    color: gray;
}

.icon {
    font-size: 1.4rem;
    color: #242423;
    position: absolute;
    margin-top: 0.9rem;
    margin-left: 15.6rem;
}

.icon:hover {
    color: rgb(240, 3, 3);
    font-size: 1.6rem;
    margin-top: 0.8rem;
    margin-left: 15.5rem;
}

.addToCart {
    cursor: pointer;
    margin-bottom: 10px;
    height: 20px;
    width: 100px;
    background-color: orange;
    border-radius: 50px;
    border: none;
}

.addToCart:hover {
    background-color: rgba(18, 214, 18, 0.863);
}