.container {
    border: 0.1rem solid white;
    width: 18rem;
    margin-left: 0.8rem;
}   

.container:hover {
    border: 0.1rem solid #242423;
}

.container:hover .price {
    margin-top: -2rem;
}

.container:hover .priceOffer {
    margin-top: -2rem;
}

.container:hover .off {
    margin-top: -4rem;
}

.price {
    background-color: #e6e6e6;
    margin-top: -1.7rem;
    padding: 0.3rem 0.5rem;
    position:absolute;
    margin-left: 0.7rem;
    font-size: 0.9rem;
    color:#242423;
    
}

.priceOffer {
    background-color: #e6e6e6;
    margin-top: -1.7rem;
    padding: 0.3rem 0.5rem;
    position:absolute;
    margin-left: 3rem;
    font-size: 0.9rem;
    color:red;
}    

.off {
    background-color: #e6e6e6;
    margin-top: -3.6rem;
    padding: 0.3rem 0.5rem;
    position:absolute;
    margin-left: 0.7rem;
    font-size: 0.9rem;
    color:#242423;
    font-weight: bold;
}   

.img {
    width:100%;
}

.title {
    font-size: 1rem;
    margin-top: 0.2rem;
    text-align: left;
    margin-left: 0.7rem;
    color: #242423;
}

.type {
    font-size: 1rem;
    margin-top: -0.9rem;
    text-align: left;
    margin-left: 0.7rem;
    color: gray;
}

.icon {
    font-size: 1.4rem;
    color: #242423;
    position: absolute;
    margin-top: 0.9rem;
    margin-left: 15.6rem;
}

.icon:hover {
    color: rgb(240, 3, 3);
    font-size: 1.6rem;
    margin-top: 0.8rem;
    margin-left: 15.5rem;
}
