.carousel {
    width: 80%;
    margin: auto;
    margin-bottom: -13rem;
}

@media (min-width: 600px){
  .carousel {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
}
}  

.slick-prev:before{
      color: black;
      font-size: 24px;
    }

.slick-next:before {
      color: black;
      font-size: 24px;
    }