.cartContainer {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.buttonCartContainer {
  position: absolute;
  margin-top: -16px;
  margin-right: 20px;
  cursor: pointer;
  z-index: 2;
}

.buttonCart {
  width: 30px;
  align-items: center;
}

.productsNumber {
  margin: -40px 23px;
  height: 20px;
  width: 20px;
  border-radius: 999px;
  top: 0;
  right: 0;
  background-color: #fb3939;
  font-size: 12px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.cart {
  position: fixed;
  top: 410px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  border: 2px solid #e6e6e6;
  height: 450px;
  width: 400px;
  overflow-y: scroll;
}

@media (min-width: 600px){
  .cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 2px solid #e6e6e6;
    height: 450px;
    width: 400px;
    overflow-y: scroll;
  }
}  

.cartVacio {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.total {
  text-align: center;
  font-weight: bold;

}

.productsContainer {
  max-width: 390px;
  margin-top: 5px;
}

.buy {
  cursor: pointer;
  margin-bottom: 10px;
  height: 30px;
  width: 100px;
  background-color: orange;
  border-radius: 50px;
}

.buy:hover {
  background-color: rgba(18, 214, 18, 0.863);
}