.general {
    margin: 10px;
    padding: 10px;
    font-family: 'Manjari', sans-serif;
    min-height: 110vh;
    background-color: #ffffffe0;
    background-size: 75px 75px;
    background-repeat: space;
    background-image: linear-gradient(#ffffffe0, #ffffffe0), url('../../Images/sneakers_vector.webp');
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 650px;
    width: 500px;
    background-color: rgba(1, 1, 1, 0.427);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
}

.checkoutForm {
    grid-column: 1/-1;
    padding: 1rem;
    margin: 1rem;
}

;

.containerInput {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 5px;
}

.label {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 3px;
    color: #ffffff;
}

.input {
    padding: 3px;
    display: inline-block;
    width: 400px;
    background-color: rgb(252, 246, 246);
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;
    color: black;
}

.back {
    border: none;
    background-color: #00000099;
    border-radius: 25px;
    padding: 5px 10px;
    color: #ffffff;
    cursor: pointer;
    margin: 10px;
    height: 30px;
}

.back:hover {
    color: #000000;
    text-shadow: 5px 5px 5px #000000;
    background-color: #ffffff99;
}

.btnBuy {
    cursor: pointer;
    margin: 10px;
    height: 30px;
    width: 20%;
    padding: 5px;
    background-color: orange;
    border-radius: 50px;

}

.btnBuy:hover {
    color: #000000;
    text-shadow: 5px 5px 5px #000000;
    background-color: rgba(18, 214, 18, 0.863);
}

.spanError {
    background-color: red;
    color: black;
    margin: 0 2 px;
    text-transform: uppercase;
    font-size: 12px;
}