.foot {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  background-color: #242423;
  width: 100%;
  height: 6rem;
  /*   box-shadow: 0 0 0.5em 0 #1eb419, 0 0 0.5em 0 #aa5d10; */
}

.links {
  text-decoration: none;
  color: white;
}

.spanF {
  color: white;
  text-decoration: none;
}