.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}


.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.link {
    text-decoration: none;
}

.cont {
    background-color: greenyellow;
}

.select {
    width: 8rem;
    padding: 0.5rem 1.75rem 0.5rem 0.75rem;
}

.filters {
    border-top: 0.1rem solid rgb(199, 199, 199);
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    
}

.checkout{
    display: flex;
    flex-direction: column;
}

.sort {
    background-color: blue;
    width: 20rem;

}

.az {
    background-color: red;
    width: 20rem;

}

.mm {
    background-color: yellow;
    width: 20rem;
}

.span {
    margin-right: 1rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.order {
    display: flex;
}

.img {
    object-position: 0rem;
    width: 100%;
    object-fit: cover;
    height: 25rem;
    margin-top: 5rem;
    margin-bottom: 2.3rem;
}

.nav {
    position: fixed;
}

.title {
    font-size: 3.3rem;
    text-align: left;
    margin-left: 4rem;
    margin-bottom: 2.5rem;
    color: #242423
}

.title1{
    font-size: 3.3rem;
    color: white;
    position: absolute;
    z-index: 555;
    margin-top: -27rem;
    width: 25rem;
    text-align: left;
    margin-left: 4rem;

}

.title2 {
    margin-top: 8rem;
    font-size: 3.3rem;
    text-align: left;
    margin-left: 4rem;
    color: #242423
}

.button {
    color: #242423;
    position: absolute;
    z-index: 555;
    margin-top: -18rem;
    width: 10rem;
    text-align: center;
    font-size: 1.3rem;
    margin-left: 4.2rem; 
    background-color: white;
    padding: 0.6rem;
    cursor: pointer;
}

.btn{
    padding: 5px;
    margin: 5px;
    border: none;
    background-color: #00000099;
    border-radius: 25px;
    padding: 5px 10px;
    color: #ffffff;
    cursor: pointer;
    position: sticky;
}

.shop{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.space{
    margin-bottom: -8rem;
}