.container{
    font-family: 'Karla', sans-serif;
} 

.navigate{
    width: 100%;
}

.home{
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}