.headerContainer {
    padding: 1.3rem;
    /* margin: 1rem; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
    position:fixed;
    top: 0;

    /* backdrop-filter: blur(5px); */
    /* background: linear-gradient(rgba(0, 0, 0, 0.678) 20%, rgba(0, 0, 0, 0.062) 70%); */
    background: #242423;
    width: 82rem;
    z-index: 9999;
}

.headerLogo {
    align-items: center;
}

;

.divCart>img {
    width: 20px;
    height: 20px;
}

.cart {
   font-size: 1.8rem;
   color: white;
}

.links {
    text-decoration: none;
}

.btn {
    border: none;
    background-color: #00000099;
    border-radius: 25px;
    padding: 5px 10px;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
    cursor: pointer;
}

.singInButton {
    border: none;
    background-color: #fcf81b99;
    padding: 9px 17px;
    color: #000000;
    cursor: pointer;
}

.joinNowButton {
    border: none;
    background-color: #fcf81b99;
    padding: 9px;
    color: #000000;
    cursor: pointer;
}

.select {
    width: 7rem;
    padding: 0.5rem 1.75rem 0.5rem 0.75rem;
    background-color: transparent;
    color: white;
}

.select:focus {
    background-color: #242423;
}