nav {
    background: #242423;
    z-index: 999;
    display: flex;
    position: fixed;
    width: 100%;
}

@media (min-width: 600px){
    nav {
        background: #242423;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5.5rem;
        position: fixed;
        width: 100%;
    }
}

.logo {
    margin-top: 0.25rem;
}

.display {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px){
    .display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }
}


.displayLeft {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
}

@media (min-width: 600px){
    .displayLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 35%;
        justify-content: flex-start;
        margin-left: 3rem;
    }
}

.displayRight {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px){
    .displayRight {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 33%;
        justify-content: space-between;
        margin-right: 3rem;
    }
}

.cart {
    color: white;
}

.img {

    border: none;
    border-radius: 50%;
}

.heart {
    color: white;
}

.account {
    color: white;
    margin-left: -0.4rem;
}

.links {
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
    display: flex;
}

.displayLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
}

@media (min-width: 600px){
    .displayLinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 39%;
    }
}

.btn {
    border: none;
    background-color: #00000099;
    border-radius: 25px;
    padding: 5px 10px;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;
    cursor: pointer;
}
.img{

    border: none;
    border-radius: 50%;
}



.select {
    width: 7rem;
    padding: 0.5rem 1.75rem 0.5rem 0.75rem;
    background-color: transparent;
    color: white;
}

.select:focus {
    background-color: #242423;
}

.userimage {
    width: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.logButton {
    width: 5rem;
}

.links {
    text-decoration: none;
    color: #242423;
}