.headerContainer{
    padding: 1rem;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content:space-around;
    align-items: center;
    gap: 5px;
    position: sticky;
    top:0;
    
    backdrop-filter: blur(5px);
    background:linear-gradient(rgba(0, 0, 0, 0.678) 20%, rgba(0, 0, 0, 0.062) 70%);
}

.headerLogo{
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0.5rem;
    width:fit-content;
    align-items:center;
    font-weight: bold;
    border-radius: 20px;
    max-width: 300px;
};

.divCart>img{
    width: 20px;
    height: 20px;
}
.cart{
    width: 20px;
    height: 20px;
} 


.btn{
    border: none;
    background-color:#00000099;
    border-radius: 25px;
    padding: 5px 10px;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000; 
    cursor: pointer;
}

.singInButton{
    border: none;
    background-color:#fcf81b99;
    border-radius: 25px;
    padding: 5px 10px;
    color: #000000;
    text-shadow: 5px 5px 5px #fcf81b; 
    cursor: pointer;
}

.joinNowButton{
    border: none;
    background-color:#fcf81b99;
    border-radius: 25px;
    padding: 5px;
    color: #000000;
    text-shadow: 5px 5px 5px #fcf81b; 
    cursor: pointer;
}