.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    margin: 0.3rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.1rem solid #242423;
    background-color: transparent;
    color: #242423;
    font-size: 0.95rem;
    font-weight:bold;
}

.button2 {
    background-color: #242423;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem solid #242423;
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
    font-weight:bold;
}

.prevMax {
    visibility: hidden;
}

.nextMax {
    visibility: hidden;
}

.prev {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    margin: 0.3rem;
    align-items: center;
    justify-content: center;
    border: none;
    color: #242423;
    background-color: transparent;
    font-size: 8rem;
    border-radius: 50%;
}


.next {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    margin: 0.3rem;
    align-items: center;
    justify-content: center;
    border: none;
    color: #242423;
    background-color: transparent;
    font-size: 8rem;
    border-radius: 50%;
}



.prev:hover {
    color: red;
}

.next:hover {
    color: red;
}

.button:hover {
    border: 2px solid #242423;
}