.back {
    border: none;
    background-color: #00000099;
    border-radius: 25px;
    padding: 5px 10px;
    color: #ffffff;
    cursor: pointer;
    position: sticky;
}

.back:hover {
    color: #000000;
    text-shadow: 5px 5px 5px #000000;
    background-color: #ffffff99;
}