.general {
    display: grid;
   
    padding: 10px;
    font-family: 'Manjari', sans-serif;
    min-height: 110vh;
    background-color: #ffffffe0;
    background-size: 75px 75px;
    background-repeat: space;
    background-image: linear-gradient(#ffffffe0, #ffffffe0), url('../../Images/sneakers_vector.webp');
}

;
.logo {
    margin-top: 0.25rem;
}

.display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.displayContainer {
    margin-top: 130px;
}

.displayLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
    justify-content: flex-start;
    margin-left: 4rem;
}
.btn {
    border: none;
    background-color: #b80000d8;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
}

.btnDash {
    width: 250px;
    height: 35px;
    border: none;
    background-color: #b8690ecb;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn:hover {
    color: #000000;
    text-shadow: 5px 5px 5px #000000;
    background-color: #ffffff99;
}

.btnDash:hover {
    color: #000000;
    text-shadow: 5px 5px 5px #000000;
    background-color: #019131d5;
}

.img {
    border-radius: 50px;
}