.input_search {
    border: none;
    padding: 0.4rem;
    background-color: transparent;
    color: white;
}

.input_search:focus {
    outline: none;
}

.btn_search {
    text-decoration: none;
    border: white;
    padding-left: 0.8rem;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
    font-size: 1.3rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.form {
    display: flex;
    border: 1px solid rgb(145, 144, 144);
}

@media (max-width: 600px){
    .form {
        display: flex;
        border: 1px solid rgb(145, 144, 144);
        margin: 0rem 2.5rem 0rem 2.5rem;
    }
}
